@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  
  /* Floating header styles */
  header {
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    width: 100%;
    background-color: #fff;
    opacity: 0.8;
    border-radius: 10%;
    box-shadow: #000 0 0 20px;
    z-index: 999;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .logo img {
    height: 40px;
    width: auto;
  }
  
  nav {
    display: flex;
    align-items: center;
  }
  
  .options {
    display: flex;
    position: relative;
    list-style: none;
  }
  
  .options li {
    margin-right: 10px;
  }
  
  .options li:last-child {
    margin-right: 0;
    display: none;
  }
  
  .options li a {
    text-decoration: none;
    color: #000;
    padding: 5px;
  }

  
  .button button {
    padding: 8px 16px;
    background-color: #000;
    border-radius: 10px;
    right: 10px;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }
  
  .hamburger-menu .bar {
    width: 100%;
    height: 2px;
    background-color:#000;
    margin-bottom: 4px;
  }

  body {
    font-family: 'Merriweather', serif;
    background-color: bisque;
    color: #333;
    margin: 20px;
    padding: 20px;
    overflow-y: scroll;
}

.tag-Line {
    margin-top: 25%;
    font-size: 1.5rem;
    align-items: center;
    font-weight: bold;
    margin-bottom: 10px;
  }

.resume-container{
  /* overflow:hidden; */
  /* position: absolute; */
  top:0;
  left:0;
  object-fit:contain;
  height: 100dvh;
  width: 100dvw;
  background-image: url('logo.JPG');
  background-size: 100% auto;
  background-repeat: no-repeat;
}


.about{
    align-items: center;
    font-weight: bold;
}

.about p{
  font-size: 1.2rem;
}


.section-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

progress{
  accent-color: coral;
}

progress::before{
  background-color: coral;
}
.section-content {
  line-height: 1.6;
}

.footer{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mobile{
  transform:scaleX(-1);
}

.contact-info{
  display: flex;
  gap:.4rem;
  padding-bottom: 1rem;
}

.education{
  width: 100%;
  background-color: white;
  margin-top: 1rem;
  padding: 2rem;
}
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .options {
      display: none;
    }
    .options li:last-child {
      margin-right: 0;
      display: block;
    }
    .show {
      display: block;
      
    }
  
    .hamburger-menu {
      display: flex;
    }
    .button button{
        display: none;
    }
    .tag-Line{
      
    }
  }


